@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --ft-family: "Open Sans", sans-serif;
  --clr-accent: #2d5a27;
  --clr-primary: #fafafa;
  --clr-type: #0a0a0a;
}
header {
  padding: 1rem;
  color: var(--clr-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8rem;
  font-family: var(--ft-family);
  position: absolute;
}
nav {
  z-index: 100;
}
nav ul {
  display: flex;
  list-style-type: none;
  gap: 5rem;
  font-size: 1.5rem;
}
nav ul a {
  color: var(--clr-primary);
  text-decoration: none;
}
nav ul a::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-blend-mode: normal;
  background-color: var(--clr-primary);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}
nav ul a:hover::after {
  transform: scaleX(1);
}
main {
  width: 0 auto;
  position: relative;
  padding: 10rem;
  font-family: var(--ft-family);
  height: 55rem;
  background: url("https://s1.1zoom.ru/b5050/932/417577-svetik_1920x1200.jpg");
  background-color: var(--clr-accent);
  background-blend-mode: multiply;
  color: var(--clr-primary);
}
h1 {
  text-align: center;
}
.col-wrapper {
  width: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
.first-col {
  height: 30rem;
  width: 30rem;
  border: 1px solid white;
  margin-top: 10rem;
  margin-left: 1rem;
  border-radius: 2rem;
}
.second-col {
  height: 30rem;
  width: 30rem;
  border: 1px solid white;
  margin-top: 10rem;
  margin-left: 1rem;
  border-radius: 2rem;
}
.third-col {
  height: 30rem;
  width: 30rem;
  border: 1px solid white;
  margin-top: 10rem;
  margin-left: 1rem;
  border-radius: 2rem;
}
.first-col,
.second-col,
.third-col {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 2rem;
  background-color: var(--clr-primary);
  color: var(--clr-type);
  align-items: center;
}
.first-col::after,
.second-col::after,
.third-col::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 2rem;
  background-color: transparent;
  z-index: -1;
}
.first-col:hover::after,
.second-col:hover::after,
.third-col:hover::after {
  animation: pulse 0.8s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.75;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
    background-color: lime;
  }
}
main img {
  width: 10rem;
  height: 10rem;
}
footer {
  bottom: 0;
  width: 100%;
  background-color: var(--clr-accent);
  padding: 0.7rem;
  text-align: center;
  font-family: var(--ft-family);
  color: var(--clr-primary);
}
footer img {
  width: 5rem;
  height: 5rem;
  background-color: var(--clr-accent);
}
